body {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;

  color: #fafafa;
  font-size: 18px;
  font-family: "Calibri", Tahoma, Geneva, Verdana, "ＭＳ Ｐゴシック",
    "MS PGothic", "メイリオ", Meiryo, sans-serif;
  // ! don't use line-height:1 with Calibri font
}

#chat {
  & > .line {
    display: flex;
    flex-shrink: 0;

    position: absolute;
    left: var(--margin, 8px);

    bottom: var(--margin, 8px);
    body.top & {
      top: var(--margin, 8px);
    }

    max-width: var(--bound, calc(100% - var(--margin, 8px) * 2));
    width: 100%;

    body.shadow & {
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
        0 1px rgba(0, 0, 0, 0.69);
    }

    & > .user {
      display: flex;
      height: 1.25em;

      & > .badges {
        display: inline-block;
        margin-right: 0.25em;

        & > .badge {
          height: 1.25em;
          width: 1.25em;
          border-radius: 0.15em;
          overflow: hidden;

          &:not(:last-child) {
            margin-right: 0.25em;
          }
        }
      }

      white-space: nowrap;

      & > .name {
        font-weight: bold;
        overflow: hidden;
        display: inline-block;
      }

      &::after {
        content: ":";
        margin-right: 0.25em;
      }
    }

    & > .message {
      flex: 1;
      overflow: hidden;

      & > .content {
        display: flex;
        white-space: pre;

        & > .emote {
          height: 1.25em;
          min-width: 1.25em;
          overflow: hidden;

          flex-shrink: 0;
          flex-grow: 0;

          & + img:not(:last-child) {
            margin-right: 0.25em;
          }
        }

        &.scroll {
          animation: content-scroll var(--dur) linear both;
          animation-delay: 1500ms;
        }
      }
    }

    &.show {
      z-index: 1;
      animation: show-slide-bottom 250ms ease-out both;

      body.top & {
        animation: show-slide-top 250ms ease-out both;
      }
    }

    &.hide {
      z-index: 0;
      animation: hide-opacity 150ms linear both;
    }
  }
}

@keyframes show-slide-bottom {
  0% {
    transform: translateY(1.2em);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes show-slide-top {
  0% {
    transform: translateY(-1.2em);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes hide-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes content-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--target)));
  }
}

@keyframes content-scroll-return {
  0% {
    opacity: 1;
    transform: translateX(calc(-1 * var(--target)));
  }

  49% {
    opacity: 0;
    transform: translateX(calc(-1 * var(--target)));
  }

  50% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
