body {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;

  &.ingame {
    &::before {
      opacity: 0;
    }
  }

  &.nobg {
    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;

    background-image: linear-gradient(
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.9) 95%,
      #000 105%
    );
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  &.design {
    & > #chat {
      & > .line {
        background: rgba(255, 0, 0, 0.5);
      }

      &::before {
        content: "";
        height: calc(100vh - var(--margin, 8px));
        position: absolute;
        bottom: var(--margin, 8px);
        left: var(--margin, 8px);
        width: var(--bound, calc(100% - var(--margin, 8px) * 2));
        background: rgba(255, 0, 0, 0.5);
      }
    }
  }
}

#chat {
  margin: var(--margin, 8px);

  color: #fafafa;

  font-family: Calibri;
  font-size: 18px;
  line-height: 1;

  & > .line {
    display: flex;
    flex-shrink: 0;
    height: 20px;

    position: absolute;
    bottom: var(--margin, 8px);
    max-width: var(--bound, calc(100% - var(--margin, 8px) * 2));
    width: 100%;

    & > .user {
      display: flex;
      flex-shrink: 0;

      & > .badges {
        display: flex;
        gap: 0.15rem;
        margin-right: 0.25rem;

        & > .badge {
          height: 1.25rem;
          width: 1.25rem;
          border-radius: 0.2rem;
          overflow: hidden;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & > .name {
        font-weight: bold;
        overflow: hidden;
      }

      &::after {
        content: ":";
        margin-right: 0.25rem;
      }
    }

    & > .message {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;

      & > .content {
        white-space: nowrap;

        & > .emote {
          display: inline-block;
          height: 1.25rem;
          width: 1.25rem;
          background-size: contain;
          background-repeat: no-repeat;
          overflow: hidden;
          vertical-align: middle;
        }

        &.scroll {
          animation: content-scroll var(--dur) linear both;
        }

        &.scroll-return {
          animation: content-scroll-return 1s ease-in-out both;
        }
      }
    }

    &.show {
      z-index: 1;
      animation: show-slide 250ms ease-out both;
    }

    &.hide {
      z-index: 0;
      animation: hide-opacity 150ms linear both;
    }
  }
}

@keyframes show-slide {
  0% {
    transform: translateY(1.2rem);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes hide-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes content-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--target)));
  }
}

@keyframes content-scroll-return {
  0% {
    opacity: 1;
    transform: translateX(calc(-1 * var(--target)));
  }

  49% {
    opacity: 0;
    transform: translateX(calc(-1 * var(--target)));
  }

  50% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
